h1,
p {
  font-family: Lato;
}
html{
  height: 100%;
}
body {
  background: grey;
  height: 100%;
}

.app {
  background: white;
  height: 100%;
}
#root{
  height: 100%;
}
.navbar,
.card-header {
  background:#d7a2fd !important;
}
.card-header .text-muted {
  color: #1d2124 !important;
}
.navbar a{
  color:white !important;
}
.navbar .navbar-brand {
  color: white !important;
  font-weight: bold;
}

.heading {
  background: #b664f2;
  color: transparent;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
a{
  color: #b664f2 !important;
}
.btn{
  background: #b664f2 !important;
}
.comment-section {
  max-height: 300px;
  overflow:auto;
}